body {
  background-color: rgba(23, 17, 3, 1);
  font-family: helvetica;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h2, h3, h4, h5, h6 {
  padding: 6px;
}
h1 {
  font-weight: 500;
  line-height: 1.1;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.7em;
}
h5 {
  font-size: 0.5em;
}
p {
  /*font-size: 0.3em;*/
}
ul {
  padding: 10px;
  list-style: none;
}
li {
  font-size: 1.2em;
}
ul.nav-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.nav-main {
  display: inline-block;
}
a {
  text-decoration: none;
  color: rgb(148, 139, 0);
}
a:hover {
  text-decoration: none;
  color: rgb(185, 174, 0);
}
.dev-main-section {
  padding: 0;
}
.dev-header {
  width: 100%;
  max-height: auto;
}
.dev-sub-header {
  font-size: 2.5em;
  text-align: center;
  padding: 40px 60px;
  margin: 0 auto;
}
.dev-heading {
  display: block;
  text-align: center;
  font-size: 9em;
  margin: 0 auto;
  padding: 30px;
  color: rgb(23, 17, 3);
  background-color: rgba(255, 254, 249, 1);
}
.dev-nav {
  background-color: rgba(255, 254, 249, 1);
  border-top: 2px solid rgb(23, 17, 3);
  border-bottom: 2px solid rgb(23, 17, 3);
}
.dev-nav-button, .dev-nav-button:visited, .dev-nav-button:hover, .dev-nav-button:focus {
  text-decoration: none;
  display: inline-block;
  margin-left: -4px; /* remove inline-block space */
  font-size: 1.7em;
  color: rgb(23, 17, 3);
  background-color: rgb(255, 254, 249);
  text-align: center;
  padding: 0.4em 0.6em;
  -ms-transition: .3s ease;
  -moz-transition: .3s ease;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.dev-nav-button:hover {
  background-color: rgb(185, 174, 0);
}
.dev-box-light {
  background-color: rgb(255, 254, 249);
  color: rgb(23, 17, 3);
  padding: 0 0 30px 0;
  min-height: 400px;
}
.dev-box-dark {
  background-color: rgba(23, 17, 3, 1);
  color: rgb(255, 254, 249);
  padding: 0 0 30px 0;
  min-height: 400px;
}
.dev-box-contact {
  margin: 0;
  background-color: rgba(23, 17, 3, 1);
  color: rgb(255, 254, 249);
  text-align: center;
  height: 100px;
}
.dev-box-text {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
}
.dev-box-half {
  display: inline-block;
  /*margin-left: -3px;*/
  width: 49%;
  vertical-align: top;
}
.dev-about {
  font-size: 1.4em;
  font-weight: bold;
}
.dev-tech-text {
  margin-left: 40px;
  text-align: justify;
}
.dev-tech-list {
  text-align: justify;
  margin-left: 100px;
}
.dev-no-dec-links {
  /*display: block;*/
  color: rgb(23, 17, 3);
  -ms-transition: .2s ease;
  -moz-transition: .2s ease;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.dev-projects-page {
  background-color: rgba(255, 254, 249, 1);
}
.project-imgs {
  display: inline;
  width: 100%;
  max-width: 700px;
  padding: 20px;
}
.dev-proj-desc {
  padding: 0 10%;
}
.dev-contact-page {
  text-align: center;
}
.clear-fix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.footer-nav {
  text-decoration: none;
  display: block;
  margin: 0 0 10px 0;
  padding: 20px 0 0 0;
  font-size: .8em;
  color: rgb(255, 254, 249);
  text-align: center;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}
.logo {
  width: 29px;
  margin: 0 10px;
}
/*
  ___                               _ _
 / _ \__   _____ _ ____      ___ __(_) |_ ___
| | | \ \ / / _ \ '__\ \ /\ / / '__| | __/ _ \
| |_| |\ V /  __/ |   \ V  V /| |  | | ||  __/
 \___/  \_/ \___|_|    \_/\_/ |_|  |_|\__\___|
 */
.no-dec {
  text-decoration: none;
}
.weight-normal {
  font-weight: normal;
}
.dev-text-center {
  text-align: center;
}
.dev-inline {
  display: inline;
}
.dev-i-font {
  color: rgb(255, 254, 249);
  display: inline;
  font-size: 1.7em;
  margin: 10px;
}
.dev-i-font-dark {
  color: rgba(23, 17, 3, 1);
  display: inline;
  font-size: 1.7em;
  margin: 10px;
}
.parallax-container {
  height: 150px;
}
.carousel {
  max-width: 900px;
  margin: 0 auto 20px auto;
}

/*
  ________________________
/           ___ ___       '.
|\ .-------|:::/:::|--------;
| |        |:::|:::|        |
|\|_  ___ _|:::/:::| __ ____|
|    __  ___""" """_ ____ __`\
| |\##\\###\\##\\###\\##\\### \
\ \ \\\\\\\\\\\\\\\\\\\\\\\\\\ \
|\ \||||||||||||||||||||||||||_|
| | ;"""""""""""""""""""""""";"|
| | |"""""".----------.""""""| |
| | |     |\           \  |  | |
| | |-----|\\___________\-|  | |
| | |     | |---------- |  \ | |
`\| |     | |         | |   `| |
  \_|       |           |    `\|
*/

.tassel-section {
  background-image: url("../imgs/Wallpaper2med.jpg");
  /*border: 2px solid rgb(23, 17, 3);*/
  /*max-width: 500px;*/
  margin: 0 auto;
  /*padding-top: 1em;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 700px;
}
.toggle {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.buttonToggle {
  background-color: rgba(150, 150, 150, .94);
  width: 110px;
  height: 35px;
  margin: 20px auto 0 auto;
  border: 2px solid rgba(100, 100, 100, .25);
  border-radius: 12px;
  font-size: 14px;
}
.tassel {
  margin-left: auto;
  margin-right: auto;
  width: 194px;
  transform: scale(.9);
}
.breeze {
  /*transform: skewX(5deg);*/
  /-webkit-animation: skew 3s infinite;
          animation: skew 3s infinite;
}
.string {
  display: block;
  background-color: rgba(113, 0, 225, 1);
  /*margin: auto;*/
  margin: 0 0 0 92px;
  height: 20px;
  width: 10px;
  border-radius: 20px 5px 20px 5px;

}
.stringEgg {
  transition: background-color 1s ease;
  display: block;
  background-color: rgba(135, 0, 255, 1);
  /*margin: auto;*/
  margin: 0 0 0 92px;
  height: 20px;
  width: 10px;
  border-radius: 20px 5px 20px 5px;
}
.dev-top {
  transition: background-color 0.2s ease;
  margin: 0;
  display: block;
  background: rgba(113, 0, 225, 1);
  width: 194px;
  height: 200px;
  border: 100px solid 0;
  -moz-border-radius: 100px 100px 10px 10px;
  -webkit-border-radius: 100px 100px 10px 10px;
  border-radius: 100px 100px 10px 10px;
  /*margin: auto;*/
}
.dev-key {
  float: left;
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.dev-do {
  background: rgba(255, 0, 0, 1);
}
.dev-re {
  background: rgba(255, 127, 0, 1);
}
.dev-mi {
  background: rgba(255, 255, 0, 1);
}
.dev-fa {
  background: rgba(0, 255, 0, 1);
}
.dev-sol {
  background: rgba(0, 0, 255, 1);
}
.dev-la {
  background: rgba(135, 0, 190, 1);
}
.dev-ti {
  background: rgba(143, 0, 255, 1);
}
.dev-dooct {
  background: rgba(255, 0, 255, 1);
}
  @-webkit-keyframes skew {
0% {
  -webkit-transform: skewX(2deg);
          transform: skewX(2deg);
}
50% {
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
}
100% {
  -webkit-transform: skewX(2deg);
          transform: skewX(2deg);
}
@media (max-width: 900px) {
  .mainHeading {
    font-size: 1em;
  }
}
