body {
    background-color: rgb(232, 216, 201);
}
.main-section {
  padding: 5%;
}
/*.centerHeading {
  display: block;
  margin: auto;
  text-align: center;
}*/
.mainHeading {
  display: block;
  text-align: center;
  font-size: 10vw;
  max-width: 100%;
  max-height: auto;
  border: 2px solid rgb(53, 27, 3);
  margin: 0 auto;
  padding: 2vw;
  color: rgb(53, 27, 3);
  background-color: rgb(237, 221, 206);
  cursor: url(pusheencursormed.png), url(pusheencursorsmall.png), auto;
}
.loremContainer {
  display: block;
}
ul.nav-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.nav-main {
  display: inline-block;
}
.lorem {
  display: block;
  font-size: 1.9vw;
  font-weight: bold;
  text-align: justify;
}
.contact {
  display: block;
  font-size: 1.9vw;
  font-weight: bold;
  text-align: center;
  padding: 55px;
}
.bioPic {
  display: block;
  margin: auto;
  max-width: 50vw;
}
.my-work {
  list-style: none;
  border: 2px solid rgb(53, 27, 3);
  background-color: rgb(237, 221, 206);
  padding-bottom: 200px;
}
.github-links {
  list-style: none;
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
  color: rgba(53, 27, 3, .9);
  -ms-transition: .2s ease;
  -moz-transition: .2s ease;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  margin: 10px auto;
  display: block;
  text-align: center;
  margin: 20px 30px;
}
#contact {
  list-style: none;
  border: 2px solid rgb(53, 27, 3);
  background-color: rgb(237, 221, 206);
  margin-bottom: 100px;
}
.navButton {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  background-color: rgb(53, 27, 3);
  color: rgb(237, 221, 206);
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  -ms-transition: .3s ease;
  -moz-transition: .3s ease;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.navButton:visited {
  text-decoration: none;
  color: rgb(237, 221, 206);
}
.navButton:hover {
  background-color: #b22f73;
}
.slothLink {
  font-size: .85em;
  font-weight: bold;
  text-decoration: none;
  color: rgba(53, 27, 3, .9);
  -ms-transition: .5s ease;
  -moz-transition: .5s ease;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin: 10px auto;
  display: block;
  text-align: center;
  margin: 20px 30px;
  cursor: url(croissantcursor.png), auto;
}
.slothLink:visited {
  text-decoration: none;
  color: rgba(53, 27, 3, .9);
}
.slothLink:hover {
  color: #b22f73;
}
.clear-fix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.footer-nav {
  text-decoration: none;
  display: block;
  margin: 10px;
  font-size: .8em;
  color: rgb(237, 221, 206);
  text-align: center;
}
/* TASSEL PIANO ///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/
.tassel-section {
  background-image: url("Wallpaper2med.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.toggle {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.buttonToggle {
  background-color: rgba(150, 150, 150, .94);
  width: 110px;
  height: 35px;
  margin: 20px auto 0 auto;
  border: 2px solid rgba(100, 100, 100, .25);
  border-radius: 12px;
  font-size: 14px;
}
.tassel {
  margin-left: auto;
  margin-right: auto;
  width: 194px;
  transform: scale(.9);
}
.breeze {
  /*transform: skewX(5deg);*/
  /-webkit-animation: skew 3s infinite;
          animation: skew 3s infinite;
}
.string {
  display: block;
  background-color: rgba(113, 0, 225, 1);
  /*margin: auto;*/
  margin: 0 0 0 92px;
  height: 20px;
  width: 10px;
  border-radius: 20px 5px 20px 5px;

}
.stringEgg {
  transition: background-color 1s ease;
  display: block;
  background-color: rgba(135, 0, 255, 1);
  /*margin: auto;*/
  margin: 0 0 0 92px;
  height: 20px;
  width: 10px;
  border-radius: 20px 5px 20px 5px;
  cursor: url("pusheencursormed.png"), auto;
}
.top {
  transition: background-color 0.2s ease;
  margin: 0;
  display: block;
  background: rgba(113, 0, 225, 1);
  width: 194px;
  height: 200px;
  border: 100px solid 0;
  -moz-border-radius: 100px 100px 10px 10px;
  -webkit-border-radius: 100px 100px 10px 10px;
  border-radius: 100px 100px 10px 10px;
  /*margin: auto;*/
}
.do {
  float: left;
  background: rgba(255, 0, 0, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.re {
  float: left;
  background: rgba(255, 127, 0, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.mi {
  float: left;
  background: rgba(255, 255, 0, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.fa {
  float: left;
  background: rgba(0, 255, 0, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.sol {
  float: left;
  background: rgba(0, 0, 255, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.la {
  float: left;
  background: rgba(135, 0, 190, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.ti {
  float: left;
  background: rgba(143, 0, 255, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
.dooct {
  float: left;
  background: rgba(255, 0, 255, 1);
  width: 20px;
  height: 300px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.13s ease;
}
  @-webkit-keyframes skew {
0% {
  -webkit-transform: skewX(2deg);
          transform: skewX(2deg);
}
50% {
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
}
100% {
  -webkit-transform: skewX(2deg);
          transform: skewX(2deg);
}
